<% if signed_in? %>

  <div class="row">
    <%= render 'shared/user_sidebar' %>
    <div class="span4 feeditem">
      <h3>Bricks</h3>
      <div class="row">
				<%= link_to 'Health', root_path(health: true) %>
				<%= link_to 'Fitness', root_path(fitness: true) %>
				<%= link_to 'Family', root_path(family: true) %>
				<%= link_to 'Religion', root_path(religion: true) %>
				<%= link_to 'Human Relations', root_path(humanrelations: true) %>
				<%= link_to 'Leadership', root_path(leadership: true) %>
			</div>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <%= render 'logged_out_hero_unit' %>
<% end %> 





