<% if signed_in? %>

  <div class="row">
    <%= render 'shared/user_sidebar' %>

    <div class="span4 feeditem">
    <h3>Bricks</h3>
    <div class="btn-group">
			<%= link_to 'Health', root_path(category: "Health" ), class: "btn btn-default" %>
			<%= link_to 'Fitness', root_path(category: "Fitness" ), class: "btn btn-default" %>
			<%= link_to 'Family', root_path(category: "Family" ), class: "btn btn-default" %>
			<%= link_to 'Religion', root_path(category: "Religion" ), class: "btn btn-default" %>
			<%= link_to 'Human Relations', root_path(category: "Relations" ), class: "btn btn-default" %>
			<%= link_to 'Leadership', root_path(category: "Leadership" ), class: "btn btn-default" %>
		</div>

    <%= render 'shared/feed' %>
    
    </div>
  </div>  
<% else %>

<%= render 'logged_out_hero_unit' %>

<% end %> 






